<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Image Uploader</title>
</head>
<body>
    <div class="container">
        <input type="file" id="uploadInput" accept="image/*" onchange="previewImage()">
        <div id="previewContainer">
            <img id="previewImage" alt="Preview Image">
        </div>
        <button onclick="uploadImage()">Upload Image</button>
        <div id="result">
            <!-- Display URL here -->
        </div>

        <script src="script.js"></script>
    </div>
</body>
</html>
